<div class="loader">
		<div class="inner"></div>
	</div>

	<nav id="navigation">
		<a href="/" class="logo">ALAMGIR AHAMED</a>
		<ul class="menu">
			<li><a href="#">Home</a></li>
			<li><a href="#skills">Skills</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#portfolio">Projects</a></li>
		</ul>
		<a onclick="toggle()" class="mobile-nav-icon" href="#">
			<i class="fa fa-bars"></i>
		</a>
	</nav>

	<div id="Sidenav" class="sidenav">
	  <a href="#" class="closebtn" onclick="toggle()">&times;</a>
	  <a href="#">About</a>
	  <a href="#">Services</a>
	  <a href="#">Clients</a>
	  <a href="#">Contact</a>
	</div>

	<div id="about" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img class="aboutImage" src="{{utility.aboutPhoto}}">
				</div>
				<div class="col-md-7 personal">
					<div class="personal-info-inner">
						{{#if utility}}
						<h4>{{ utility.fullName }}</h4>
						<h3>{{ utility.designation }}</h3>
						<p>
							{{ utility.description }}
						</p>
						{{/if}}
						<ul class="socials">
							<li>
								<a target="_blank" href="{{ utility.facebook }}">
									<i class="fab fa-facebook"></i>
								</a>
							</li>
							<li>
								<a target="_blank" href="{{ utility.twitter }}">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li>
								<a target="_blank" href="{{ utility.instagram }}">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li>
								<a target="_blank" href="{{ utility.youtube }}">
									<i class="fab fa-youtube"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="skills" class="skillSection section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					 <h2>TECHNICAL SKILLS</h2>
					 <p>A representation of my proficiency in each skill</p>
				</div>
				<div id="skill-setion" class="owl-carousel owl-theme">
				    
				</div>
			</div>
		</div>
	</div>

	<div id="stats" class="statsSection section">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="squareItem">
						<div class="squareInnerContainer">
							<div class="squareIcon">
								<i class="fa fa-users">
									
								</i>
							</div>
							<div class="squareContent">
								<h2 class="counter">{{ state.client }}</h2>
								<h3>Clients</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="squareItem">
						<div class="squareInnerContainer">
							<div class="squareIcon">
								<i class="fa fa-clock">
									
								</i>
							</div>
							<div class="squareContent">
								<h2>
									{{ state.project }}
								</h2>
								<h3>Projects</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="squareItem">
						<div class="squareInnerContainer">
							<div class="squareIcon">
								<i class="fa fa-tablet">
									
								</i>
							</div>
							<div class="squareContent">
								<h2>{{ state.app }}</h2>
								<h3>Apps</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="squareItem">
						<div class="squareInnerContainer">
							<div class="squareIcon">
								<i class="fa fa-calendar">
									
								</i>
							</div>
							<div class="squareContent">
								<h2>{{ state.website }}</h2>
								<h3>Websites</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="contact" class="contactSection section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto text-center">
					<div class="subHeading">
						<span class="msg"></span>
						<h3 class="text-left">Feel free to send Message</h3>
						<form action="">
							<div class="row">
								<div class="col-md-6">
									<div class=" text-left form-group">
										<label for="Name">Name</label>
										<input id="name" placeholder="Name" class="form-control">
									</div>
								</div>
								<div class="col-md-6">
									<div class=" text-left form-group">
										<label for="email">Email</label>
										<input  id="email" placeholder="example@gmail.com" class="form-control">
									</div>
								</div>
								<div class="col-md-12">
									<div class="text-left form-group">
										<label for="subject">Subject</label>
										<input id="subject" placeholder="subject" class="form-control">
									</div>
								</div>
								<div class="col-md-12">
									<div class="text-left form-group">
										<label for="message">message</label>
										<textarea id="message" placeholder="message" class="form-control" cols="30" rows="3"></textarea>
									</div>
								</div>
								<div class="mt-3 col-md-12">
									<div class="text-left form-group">
										<button id="sendMessage" class="btn btn-secondary">Send Message</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="portfolio" class="section">
		<div class="container">
			<div class="row">
				<div class="heading col-md-12">
					<h2>SOME OF MY PROJECTS</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img src="./img/product-1.jpg" class="card-img-top">
						<div class="card-body">
							<div class="card-title">
								Mobile App
							</div>
							<p>
								this app is a Hybrid Mobile apps of a company . used Language to Build : react-native and firebase
							</p>
							<a id="liveDemoBtn" class="btn btn-block" href="#">Live Demo</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img src="./img/product-2.jpg" class="card-img-top">
						<div class="card-body">
							<div class="card-title">
								Hospital Website
							</div>
							<p>
								this app is a Hybrid Mobile apps of a company . used Language to Build : react-native and firebase
							</p>
							<a id="liveDemoBtn" class="btn btn-block" href="#">Live Demo</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img src="./img/product-3.jpg" class="card-img-top">
						<div class="card-body">
							<div class="card-title">
								GPS App
							</div>
							<p>
								this app is a Hybrid Mobile apps of a company . used Language to Build : react-native and firebase
							</p>
							<a id="liveDemoBtn" class="btn btn-block" href="#">Live Demo</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div id="copyright" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>&copy; BB Developers all right reserve</p>
				</div>
			</div>
		</div>
	</div>
